@import "tailwindcss";
 
:root {
    --airbnb: #ff385c; 
    --airbnb-dark: #d50027; 
}
.text-airbnb{
    color: var(--airbnb);
}
.bg-airbnb{
    background-color: var(--airbnb);
}
.bg-airbnb-dark{
    background-color: var(--airbnb-dark);
}